@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}